In [1]:
import pandas as pd

In [3]:
pd.read_csv("C:\Users\DELL\PycharmProjects\PythonProject\pythonBasics")

   id   name  salary
0   1   John    5000
1   2  Alice    6000
2   3    Bob    5500

In [ ]:
pd